.trip-detail {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 420px;
    width: 100%;

    .trip__data {
        height: calc(100vh - 100px);
        overflow: auto;
    }
}

.location-pins {
    top: 20px;
    left: 20px;
}

#map {
    height: 100vh;
}

@media screen and (max-width : 576px) {
    .map-component {
        display: flex;
        flex-direction: column;
        padding: 0px 24px;
    }

    .map-card {
        padding-top: 24px;
        order: 2;
    }

    #map {
        height: 400px;
        border-radius: 0.75rem;
    }

    .trip-detail {
        position: static;
        margin-top: 40px;
        transform: unset;
        max-width: unset;
        order: 1;
        width: 100%;

        .trip__data {
            height: 100%;
            overflow: auto;
        }

        .order-step {
            height: 300px;
            overflow: auto;
        }
    }
}

@media screen and (max-width : 426px) {
    .map-component {
        padding: 0px 12px;
    }
}