<div class="landing-page">

    <div class="main-container">
        <div class="landing-page-nav">
            <nav class="headroom--pinned">
                <div class="container d-flex align-items-center justify-content-between">
                    <a class="navbar-logo">
                        <span class="white">
                            <img [src]="IMAGE_URL + 'web_images/user_logo.png?'" alt="logo"
                                class="navbar-logo whiteLogo">
                        </span>
                        <span class="dark">
                            <img [src]="IMAGE_URL + 'web_images/user_logo.png?'" alt="logo" class="navbar-logo"
                                >
                        </span>
                    </a>
                </div>
            </nav>
        </div>

        <div class="content-container">

            <div class="section pb-0">
                <div class="container">
                    <div class="container">
                        <h3 class="">Account Delete Information</h3>
                        <div style="display: flex;">
                            <div class="container">
                                <h5>Prerequisite:</h5>
                                <ul>
                                    <li style="list-style: disc;">Should be a Registered user.</li>
                                </ul>
                                <h5>Then follow the steps:</h5>
                                <ol>
                                    <li style="list-style: decimal;">Sign-in to your account.</li>
                                    <li style="list-style: decimal;">Navigate to the <b><i>Profile</i></b> section.</li>
                                    <li style="list-style: decimal;">Click on the <b><i style="color: red;">Delete Account</i></b> button.</li>
                                    <li style="list-style: decimal;">Enter your password to confirm the deletion of the account.</li>
                                </ol>
                            </div>
                            <div class="container">
                                <img src="../../../assets/delete_info.png" alt="delete_info" height="600px">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>
